.invite {
    color: var(--colorWhite);
    display: flex;
    align-items: center;
    gap: 180px;
    padding-top: 91px;
    margin-bottom: 96px;

    &__text {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__title {
        max-width: 317px;
    }

    &__info {
        max-width: 460px;
    }
}