:root {
    --colorDanube: #5A98D0;
    --colorAzure: #316099;
    --colorBiscay: #1F3F68;
    --colorShadow: rgba(53 110 173 / 15%);
    --colorShadow2: rgba(16 112 177 / 15%);
    --colorCornflower: rgba(152 195 232 / 20%);
    --orBiscayOpacitycol: rgba(31 63 104 /20%);
    --colorWhite: #FFF;
}