.preview {
    display: flex;
    flex-flow: nowrap;

    &__title {
        font-family: Galien, sans-serif;
        font-size: 64px;
        width: 510px;
        letter-spacing: .04em;
        margin-top: 101px;
        margin-bottom: 32px;
    }

    &__text {
        width: 425px;
        margin-bottom: 71px;
        z-index: 1;
        position: relative;
    }

    &__illustration {
        position: absolute;
        right: 30px;
        z-index: 0;
    }
}